ai-router-dashboard/config/n8n-workflows/telegram-ai-router.json
{
  "name": "Telegram AI Router Command",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "Telegram_1",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [260, 300],
      "credentials": {
        "telegramApi": {
          "id": "replace-with-your-credential-id",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $json.message?.text ?? '';\nconst parts = text.trim().split(' ');\nconst command = parts[0] ?? '/ai';\nconst taskText = parts.slice(1).join(' ') || '요청 내용 없음';\n\nlet preferredEngine = 'hybrid';\nlet preferredModel = 'gemini';\nlet optimizationMode = 'auto';\n\nif (text.includes('#openclaw')) preferredEngine = 'openclaw';\nif (text.includes('#n8n')) preferredEngine = 'n8n';\nif (text.includes('#gpt')) preferredModel = 'gpt';\nif (text.includes('#claude')) preferredModel = 'claude';\nif (text.includes('#gemini')) preferredModel = 'gemini';\nif (text.includes('#cost')) optimizationMode = 'cost';\nif (text.includes('#document')) optimizationMode = 'document';\n\nreturn [{ json: {\n  chatId: $json.message?.chat?.id,\n  rawText: text,\n  command,\n  userRequest: taskText,\n  preferredEngine,\n  preferredModel,\n  optimizationMode,\n  autoMode: preferredEngine === 'hybrid',\n  taskType: 'agent',\n  taskComplexity: 'high'\n} }];"
      },
      "id": "Code_1",
      "name": "Parse Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3000/api/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "id": "Http_1",
      "name": "Call Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "chatId": "={{$node['Parse Command'].json['chatId']}}",
        "text": "={{`엔진: ${$json.target}\n모드: ${$json.mode}\n요약: ${$json.result?.summary ?? $json.result?.raw ?? '응답 없음'}`}}",
        "additionalFields": {}
      },
      "id": "Telegram_2",
      "name": "Reply to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1080, 300],
      "credentials": {
        "telegramApi": {
          "id": "replace-with-your-credential-id",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Command": {
      "main": [
        [
          {
            "node": "Call Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Dashboard": {
      "main": [
        [
          {
            "node": "Reply to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}
